.photoPost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.photoPost input[type="file"] {
  margin-bottom: 1rem;
}

.preview {
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
}

/* Aqui visualmente falando a imagem fica melhor encaixada na tela, porém ainda não consegui entender esse macetinho */
.preview::after {
  content: '';
  display: block;
  height: 0;
  padding-bottom: 100%;
}